<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for Firebase and network operations -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <!-- Notification permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".CoupleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoupleApp"
        tools:targetApi="31">

        <!-- Splash Screen - Main entry point -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CoupleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome/Login Screen -->
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <!-- Game related activities -->
        <activity
            android:name=".activities.GameListActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />
        <activity
            android:name=".activities.WaitingRoomGarticActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />
        <activity
            android:name=".activities.GarticActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />
        <activity
            android:name=".activities.WaitingRoomCaroActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />
        <activity
            android:name=".activities.CaroActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <activity
            android:name=".activities.LoginByPhoneActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.ImageActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.showImageActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Application Activities -->
        <activity
            android:name=".activities.HomeMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.CoupleApp" />

        <activity
            android:name=".activities.ChatbotActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <!-- BaseActivity - parent for other activities -->
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />


        <activity
            android:name=".activities.MessengerActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.PairingActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <!-- New: Profile settings screen -->
        <activity
            android:name=".activities.SettingProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <activity
            android:name=".activities.PlanActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:windowSoftInputMode="adjustNothing" />

        <!-- Chat History Activities -->
        <activity
            android:name=".activities.ChatHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:label="Lịch sử Chat" />

        <activity
            android:name=".activities.ChatSessionViewActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp"
            android:label="Chi tiết Chat" />

        <!-- Notification Activity -->
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.CoupleApp" />

        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".services.FirebaseCloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Firebase Cloud Messaging default notification metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_500" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="couple_app_messages" />

        <!-- FileProvider for camera and file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>