<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_mobileAPP">

        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginByPhoneActivity" />
        <activity android:name=".activities.LoginByEmailActivity" />
        <activity android:name=".activities.HomeMainActivity" />
        <activity android:name=".activities.PlanActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.MessengerActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.SettingProfileActivity" />
        <activity android:name=".activities.SettingPrivacyActivity" />
        <activity android:name=".activities.SettingAboutActivity" />
        <activity android:name=".activities.SettingNotificationActivity" />

    </application>

</manifest>
